<div>
  <h1>Smartmaker Kits</h1>

  <table class="kits table table-hover table-compact">
    <thead>
      <tr>
        <th style="width: 15%">Name</th>
        <th style="width: 15%">Status</th>
        <th>Parts</th>
      </tr>
    </thead>
    <tbody>
      <% for kit in @kits %>
        <tr>
          <td><%= kit.name.sub("–", "<br />").html_safe %></td>
          <td style="background-color: <%= kit.color %>"><%= kit.human_status %></td>
          <td>
            <% kit.db_parts.each do |part| %>
              <abbr title="<%= part.human_status %>" style="background-color: <%= part.color %>"><%= part.name %></abbr>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <h5> Legend </h5>
  <ul class="unstyled" style="width: 40%">
    <% Part::STATUSES.each do |status, desc| %>
      <li style="background-color: <%= Part::COLORS[status] %>;"><%= desc %></li>
    <% end %>
  </ul>

  <h1>Smartmaker Parts</h1>

  <table class="parts table table-hover table-compact">
    <thead>
      <tr>
        <th>SKU</th>
        <th>Name</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% for part in @parts %>
        <tr style="background-color: <%= part.color %>">
          <td><%= part.sku %></td>
          <td><%= part.name %></td>
          <td><%= part.human_status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
